.menu_list li{
    border: 1px solid black;
    width: 300px;
    padding: 30px ;
    box-shadow: 39px 2px 37px 0px rgba(130,50,50,0.59);
-webkit-box-shadow: 39px 2px 37px 0px rgba(130,50,50,0.59);
-moz-box-shadow: 39px 2px 37px 0px rgba(130,50,50,0.59);
}
.menu_list li img{
        width: 250px;

}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.checkoutSlip{
    display: flex;
    justify-content: center;
    background-color: peachpuff;
    padding: 20px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


